@font-face {
  font-family: 'Mulish';
  src: local('Mulish-Regular'), url('Mulish-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish-Bold'), url('Mulish-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
